.grid {
    border-style: solid;
    border-width: 1px;
    height: 20px;
    width: 20px;
    float: left;
}

.clear {
    clear: both;
}

/* Entities */
.space_elevator {
    background-color: black;
}

.worker {
    background: blue;
}

/* material */
.grass {
    background-color: lawngreen;
}

.rock {
    background-color: grey;
}

.tree {
    background-color: green;
}
